<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleName</key>
    <string>Gravitor</string>
    <key>CFBundleVersion</key>
    <string>100.0</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>GenericJavaApp.icns</string>
    <key>Java</key>
    <dict>
        <key>MainClass</key>
        <string>org.rubyforge.rawr.Main</string>
        <key>JVMVersion</key>
        <string>1.5*</string>
        <key>ClassPath</key>
            <array>
                <string>$JAVAROOT/Gravitor.jar</string>
                
            </array>
        <key>Properties</key>
        <dict>
            <key>apple.laf.useScreenMenuBar</key>
            <string>true</string>
        </dict>
        <key>VMOptions</key>
<string>-Djava.library.path=lib/lib/native_files -XX:+UseConcMarkSweepGC -Djruby.compile.mode=FORCE -server -Xms256m -Xmx512m</string>
    </dict>
</dict>
</plist>
